*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Tahoma;
	color: #333;
}
body{
	background: transparent url(../images/gift1.gif) repeat fixed center top;background: transparent url(https://d4.violet.vn/uploads/blogs/729293/layout/nen2.gif) repeat fixed center top;
}
#wrapper{
	max-width:1000px;
	margin: auto;
	background-color:#ededed;
}
.warning{
	position: fixed;
	top: 20px;
	z-index: 9999;
}
.header{
	width: 100%;
}
.header img{
	width: 100%;
	vertical-align: middle;
}
.menu{
	width: 100%;
}
.menu >ul{
	width: 100%;
	text-align: center;
	list-style: none;
	background-color: #BCA9F5;
}
.menu>ul>li{
	display: inline-block;
	width: 120px;
	height:40px;
	line-height: 40px;
	position: relative;
}
.menu>ul>li>a{
	display: block;
	text-decoration: none;
	font-weight: 600;
}
.menu>ul>li>a:hover {
	color:#ededed;
	background-color: #333;
}
.menu>ul>li:hover .sub-menu{
	display: block;
}
.sub-menu{
	width: 100%;
	text-align: center;
	list-style: none;
	background-color: #BCA9F5;
	position: absolute;
	z-index: 10;
	display: none;
}
.sub-menu li{
	display: inline-block;
	width: 120px;
	height:40px;
	line-height: 40px;
	/* margin-left:-5px; */
}
.sub-menu li a{
	display: block;
	text-decoration: none;
	font-weight: 600;
	text-align:left;
	padding-left:10px;
}
.sub-menu li a:hover {
	color:#ededed;
	background-color: #333;
}
.adv{
	width: 100%;
}
@keyframes slide {
	0%{opacity:1; }
	20%{opacity:0.8;}
	40%{opacity:0.6;}
	60%{opacity:0.4;}
	80%{opacity:0.2;}
	100%{opacity:0;}
	
}
.adv img{
	width:50%;
	display:block;
	float: left;
	border-bottom: 2px solid #EED952;
	vertical-align:middle;
	/* animation: slide 3s ease infinite; */
}
.container{
	width: 100%;
	background: #000 url(https://d4.violet.vn/uploads/blogs/729293/layout/nen2.gif) repeat center;
	float: left;
}
.container h1{
	text-align:center;
	color: #fff;
}
.container img{
	width: 100%;
	border: 1px solid #a08945;
}
.container h3{
	text-align:left;
	color: #fff;
	border: 1px solid #a08945;
	margin-bottom: 5px;
}
.info{
	color: #fff;
	border: 1px solid #a08945;
	padding:0 10px 10px 5px;
	text-align:justify;
}
.clear{
	clear: both;
}
.footer{
	width: 100%;
	text-align:center;
	background-color: #070719;
	float: left;
}
.footer img{
	vertical-align: middle;
	border-bottom: 1px solid #ededed;
}
.footer p{
	color: #fff;
	margin-top:5px;
}
.top{
	width:45px;
	height:45px;
	position: fixed;
	z-index: 8888;
	bottom: 50px;
	right: 50px;

}
@keyframes opa{
	0%{filter:opacity(30%);}
	25%{filter:opacity(50%);}
	50%{filter:opacity(70%);}
	75%{filter:opacity(90%);}
	100%{filter:opacity(100%);}
}
.top:hover img{
	animation:opa 3s ease ease-in-out;
}
.top img{
	border-radius: 50%;
	border: 1px solid #888;
}

