                                * {
                                    margin: 0;
                                    padding: 0;
                                    box-sizing: border-box;
                                }
                                
                                html {
                                    font-family: HelveticaNeue;
                                    font-size: 14px;
                                    color: #2e2e2e;
                                    text-rendering: optimizeLegibility;
                                    /* mặc định là 16px */
                                }
                                
                                body {}
                                /* ----------------------REUSABLE COMPONENT-------------------- */
                                
                                h4 {
                                    height: 20px;
                                    border-left: 2px solid #ec2324;
                                    font-size: 14px;
                                    font-weight: bold;
                                    line-height: 20px;
                                    padding-left: 8px;
                                }
                                
                                .clearfixed {
                                    clear: both;
                                }
                                
                                p {
                                    margin: 0;
                                }
                                /* ----------------------HEADER-------------------- */
                                
                                header {
                                    height: 100px;
                                    background: #fff;
                                }
                                
                                header .left-header {
                                    width: 176px;
                                    float: left;
                                    margin-top: 17px;
                                }
                                
                                header .left-header img {
                                    width: 100%;
                                    vertical-align: middle;
                                    border-style: none;
                                }
                                
                                header .right-header {
                                    width: calc(100% - 176px);
                                    float: right;
                                    margin-top: 17px;
                                }
                                
                                header .right-header-top {
                                    height: 30px;
                                    float: right;
                                }
                                
                                header .right-header-top .btn-contact {
                                    float: right;
                                    margin-left: 39px;
                                }
                                
                                header .right-header-top .btn-contact a {
                                    line-height: 30px;
                                    text-align: center;
                                    display: block;
                                    width: 139px;
                                    border-radius: 3px;
                                    background-color: #ec1e24;
                                    font-size: 14px;
                                    font-weight: bold;
                                    color: #ffffff;
                                }
                                
                                header .right-header-top .email-top {
                                    float: right;
                                    padding-left: 24px;
                                    background: url('../images/black.png')left center/14px 10px no-repeat;
                                }
                                
                                header .right-header-top .email-top a {
                                    font-size: 12px;
                                    color: #2e2e2e;
                                }
                                
                                header .right-header-top .hotline-top {
                                    margin-left: 28px;
                                    padding-left: 20px;
                                    float: right;
                                    background: url('../images/shape.png') left center/10px 10px no-repeat;
                                }
                                
                                header .right-header-top .hotline-top span {
                                    font-size: 12px;
                                }
                                
                                header .right-header-top .hotline-top span a {
                                    font-weight: bold;
                                    color: #ec1e24;
                                }
                                
                                header .right-header-bottom {
                                    float: right;
                                    margin-right: -20px;
                                    background: #fff;
                                }
                                
                                header .right-header-bottom .navbar .text-menu {
                                    font-size: 14px;
                                    font-weight: bold;
                                    color: var(--black);
                                }
                                
                                header .right-header-bottom .navbar .text-menu-active {
                                    font-size: 14px;
                                    font-weight: bold;
                                    color: #ec2324;
                                }
                                /* ----------------------AT BREADCRUMB----------------*/
                                
                                .at-breadcrumbs {
                                    height: 30px;
                                    background: #f1f1f1;
                                }
                                
                                .at-breadcrumbs .breadcrumb {
                                    padding: 0;
                                    margin: 0;
                                    background-color: #f1f1f1;
                                    padding-top: 3px;
                                }
                                
                                .at-breadcrumbs .breadcrumb .breadcrumb-item {
                                    font-size: 14px;
                                    color: var(--black);
                                }
                                /* ----------------------SERVICE-HOTEL----------------*/
                                
                                .service-hotel {
                                    margin-top: 30px;
                                }
                                
                                .service-hotel .header-service-hotel h3 {
                                    font-size: 1.8rem;
                                    font-weight: bold;
                                    color: var(--black);
                                    margin-bottom: 24px;
                                    position: relative;
                                }
                                
                                .service-hotel .header-service-hotel .top-favorite {
                                    position: absolute;
                                    top: 0;
                                    right: 0;
                                }
                                
                                .service-hotel .header-service-hotel+p {
                                    margin-bottom: 6px;
                                }
                                /* --------------SLLIDES-------------------- */
                                
                                .slider {
                                    width: 50%;
                                    margin: 100px auto;
                                }
                                
                                .slick-slide {
                                    margin: 0px 0;
                                }
                                
                                .slick-slide img {
                                    width: 100%;
                                }
                                
                                .slick-prev:before,
                                .slick-next:before {
                                    color: #000;
                                }
                                
                                .slick-slide {
                                    transition: all ease-in-out .3s;
                                    opacity: .2;
                                }
                                
                                .slick-active {
                                    opacity: .5;
                                }
                                
                                .slick-current {
                                    opacity: 1;
                                }
                                
                                .dercribe-hotel p {
                                    text-align: justify;
                                }
                                
                                .price-hotel table {
                                    width: 456px;
                                }
                                
                                .price-hotel table tr {
                                    font-weight: 700;
                                }
                                
                                .convenient-hotel .form-check .checkbox {
                                    float: left;
                                    margin-right: 137px;
                                }
                                
                                .convenient-hotel .form-check .checkbox label {
                                    display: block;
                                }
                                
                                input[type="checkbox"] {
                                    display: none;
                                    position: relative;
                                }
                                
                                .form-check span {
                                    display: block;
                                    width: 16px;
                                    height: 16px;
                                    border-radius: 3px;
                                    border: 1px solid #bbb;
                                    float: left;
                                    margin-right: 10px;
                                }
                                
                                .form-check label {
                                    line-height: 16px;
                                    margin-left: -5px;
                                }
                                /* input[type="checkbox"] label span:before {
                                    content: "";
                                    position: absolute;
                                    background-color: #fff;
                                    border-radius: 0.2em;
                                    width: 14px;
                                    height: 14px;
                                    top: 5px;
                                    left: 2px;
                                    border: 1px solid #888;
                                } */
                                
                                .form-check label input[type="checkbox"]+span:before {
                                    content: "";
                                    position: absolute;
                                    width: 14px;
                                    height: 14px;
                                    border-radius: 3px;
                                    cursor: pointer;
                                }
                                
                                .form-check label input[type="checkbox"]+span.checked:before {
                                    background: url('../images/checked.png');
                                    background-position: center center;
                                    background-repeat: no-repeat;
                                    background-size: 100%;
                                }
                                /* <!-- START NOTE_HOTEL --> */
                                
                                .note-hotel {
                                    margin-top: 20px;
                                }
                                
                                .note-hotel .card {
                                    border: none;
                                    margin-bottom: 10px;
                                    border: 1px solid #f1f1f1;
                                }
                                
                                .note-hotel .card-header {
                                    padding: 1px;
                                    border-bottom: none;
                                }
                                
                                .note-hotel .card-header button {
                                    background: #f1f1f1;
                                    width: 100%;
                                    text-align: left;
                                    color: #0f0f0f;
                                    transition: .5s;
                                    border-radius: 3px 3px 0 0;
                                    text-decoration: none;
                                    font-size: 14px;
                                    line-height: 1.6em;
                                }
                                
                                .bgred {
                                    background: #ec2324 !important;
                                    color: #fff !important;
                                }
                                
                                .note-hotel .card-header button i {
                                    float: right;
                                    padding-top: 5px;
                                    transform: rotate(0deg);
                                    transition: 0.5s;
                                }
                                
                                .note-hotel .card-header button i.open {
                                    transform: rotate(-180deg)
                                }
                                
                                .note-hotel .card .card-body {
                                    padding: 0;
                                }
                                
                                .note-hotel .card .card-body p {
                                    margin-top: 5px;
                                    padding-left: 10px;
                                    margin-bottom: 5px;
                                }
                                
                                .note-hotel .card .card-body p span {
                                    font-weight: bold;
                                }
                                /* <!-- START REVIEW HOTEL -->                    */
                                
                                .review-hotel {
                                    margin-top: 20px;
                                }
                                
                                .review-hotel span {
                                    display: block;
                                    margin-left: 5px;
                                    margin-bottom: 10px;
                                }
                                
                                .review-hotel span img {
                                    margin-bottom: 5px;
                                }
                                
                                .review-hotel .show-review {
                                    background-color: #f1f1f1;
                                    border-top: 1px solid #ec2324;
                                    width: auto;
                                    padding: 10px 5px;
                                }
                                
                                .review-hotel .title-rating {
                                    float: left;
                                    width: 60%;
                                }
                                
                                .review-hotel .rating {
                                    float: right;
                                    display: flex;
                                    width: 40%;
                                }
                                
                                .review-hotel .history-comment {
                                    border: 1px solid #ccc;
                                    margin-bottom: 10px;
                                    padding: 5px;
                                    margin-top: 20px;
                                    border-radius: 3px
                                }
                                
                                .review-hotel .history-comment .title-history-comment {
                                    font-weight: 700;
                                    color: #ec2324;
                                    font-size: 14px;
                                }
                                
                                .review-hotel .hash-tag {
                                    display: initial;
                                    color: #1278f0;
                                }
                                
                                .review-hotel .big-review {
                                    font-size: 18px;
                                    display: initial;
                                    margin-left: 5px;
                                    margin-bottom: 10px;
                                    margin-right: -5px;
                                }
                                
                                .review-hotel .number-review {
                                    display: block;
                                    margin-top: 20px;
                                }
                                
                                .review-hotel .appler-review {
                                    display: flex;
                                }
                                
                                .apple {
                                    width: 15px;
                                    cursor: pointer;
                                }
                                
                                .review-hotel .title-rating2 {
                                    float: left;
                                    width: 75%;
                                }
                                
                                .review-hotel .rating2 {
                                    float: right;
                                    display: flex;
                                    width: 25%;
                                }
                                
                                .review-hotel .review {
                                    margin-top: 19px;
                                    margin-bottom: 20px;
                                }
                                
                                .review-hotel .btn-review {
                                    background-color: #ec2324;
                                    color: #fff;
                                    height: 40px;
                                    width: 141px;
                                    text-align: center;
                                }
                                /* ---START EVALUATE--- */
                                
                                .review-hotel .evaluate {
                                    display: none;
                                    padding-top: 10px;
                                    padding-bottom: 10px;
                                    background-color: #f1f1f1;
                                    margin-bottom: 30px;
                                }
                                
                                .review-hotel .evaluate h4,
                                .review-hotel .evaluate p {
                                    margin-left: 10px;
                                }
                                
                                .review-hotel .evaluate-form .rate {
                                    padding-left: 10px;
                                }
                                
                                .review-hotel .evaluate-form .rate ul {
                                    list-style-type: none;
                                }
                                
                                .review-hotel .evaluate-form .rate ul li input::-webkit-input-placeholder,
                                .review-hotel .evaluate-form .rate ul li textarea::-webkit-input-placeholder {
                                    font-style: italic;
                                    color: #c0c0c0;
                                }
                                
                                .review-hotel .evaluate-form .rate .title-rate::after {
                                    content: "*";
                                    color: red;
                                }
                                
                                .btn-write-evaluate .btn-evaluate {
                                    width: 100%;
                                    background: #ed1111bb;
                                    color: #fff;
                                    transition: all 1.5s linear;
                                }
                                
                                .gia-phong,
                                .do-an,
                                .chat-luong-phong,
                                .vi-tri,
                                .sach-se,
                                .nhan-vien {
                                    overflow: hidden;
                                    margin-bottom: 15px;
                                }
                                
                                .gia-phong .rating3,
                                .do-an .rating3,
                                .chat-luong-phong .rating3,
                                .vi-tri .rating3,
                                .sach-se .rating3,
                                .nhan-vien .rating3 {
                                    float: left;
                                    display: flex;
                                }
                                
                                .evaluate .evaluate-form .rating3 .apples {
                                    margin-top: 5px;
                                }
                                
                                .evaluate .evaluate-form .rating3 .apples span {
                                    display: block;
                                    float: left;
                                    width: 12px;
                                    height: 14px;
                                    cursor: pointer;
                                    background: url('../images/apple.png');
                                    margin-right: 5px;
                                    margin-left: 0;
                                    margin-bottom: 0;
                                }
                                
                                .evaluate .evaluate-form .rating3 .apples .selected {
                                    background: url('../images/apple_color.png');
                                }
                                /* .gia-phong .rating .apple:nth-child(3):hover {
                                    background-color: #000;
                                } */
                                /* <!-- START RELATIVE HOTEL --> */
                                
                                .relative-hotel .padding-0 {
                                    padding-right: 0;
                                    margin-right: -7px;
                                }
                                
                                .relative-hotel .hotel-item {
                                    background-color: #fff;
                                    margin-bottom: 15px;
                                    padding-bottom: 10px;
                                    border-radius: 3px;
                                    border: 1px solid #eadbdb;
                                }
                                
                                .relative-hotel .hotel-item .img-wrap {
                                    position: relative;
                                }
                                
                                .relative-hotel .hotel-item .img-wrap .img-topic {
                                    position: absolute;
                                    left: 3px;
                                }
                                
                                .relative-hotel .hotel-item .img-wrap .img-hotel {
                                    width: 100%;
                                }
                                
                                .relative-hotel .hotel-info-relative .name-hotel p {
                                    color: #000;
                                    font-size: 16px;
                                    font-weight: 700;
                                    padding: 10px;
                                    margin: 0;
                                }
                                
                                .relative-hotel .hotel-info-relative .star-relative {
                                    padding-left: 10px;
                                }
                                
                                .padding-10 {
                                    white-space: nowrap;
                                    padding: 10px;
                                    text-overflow: ellipsis;
                                    overflow: hidden;
                                }
                                
                                .color-gray {
                                    color: #bbb;
                                }
                                
                                .relative-hotel .hotel-item .price-book .price-text {
                                    float: left;
                                    width: 50%;
                                    font-weight: 700;
                                    padding-left: 10px;
                                    margin-top: 5px;
                                }
                                
                                .relative-hotel .hotel-item .price-book .price-text span {
                                    color: red;
                                }
                                
                                .relative-hotel .hotel-item .price-book .price-book {
                                    float: left;
                                    width: 50%;
                                }
                                /* <!-- START CONTENT RIGHT HOTEL --> */
                                
                                .content-right-hotel .top-right-hotel {
                                    border: 1px solid #eadbdb;
                                    padding: 0 9px 15px 11px;
                                    margin-bottom: 30px;
                                }
                                
                                .content-right-hotel .title-top-right {
                                    font-weight: 700;
                                    color: #ec2324;
                                    font-size: 14px;
                                }
                                
                                .service-hotel-right .col-md-3 {
                                    padding: 0px;
                                    text-align: center;
                                    padding: 10px;
                                }
                                
                                .service-hotel-right .col-md-3 img {
                                    max-width: 100%;
                                    display: block;
                                    margin: auto;
                                    margin-top: 5px;
                                }
                                
                                .service-hotel-right .col-md-3 p {
                                    margin-bottom: 5px;
                                    font-size: 11px;
                                }
                                
                                .content-right-hotel .standart img {
                                    vertical-align: baseline;
                                    width: 35%;
                                }
                                
                                .content-right-hotel .top-right-hotel .hr-1 {
                                    margin-top: 1rem;
                                    margin-bottom: 1rem;
                                    border: 0;
                                    border-top: 1px solid rgba(0, 0, 0, .1);
                                    box-sizing: content-box;
                                    height: 0;
                                    overflow: visible;
                                }
                                /* <!-- START TOP RIGHT HOTEL --> */
                                
                                .content-right-hotel .top-right-hotel .item-facility {
                                    border: 1px solid #f1f1f1;
                                }
                                
                                .price-room-min {
                                    font-size: 24px;
                                    font-weight: 700;
                                    color: #ec2324;
                                }
                                
                                .content-right-hotel .btn-book-room {
                                    background-color: #ec2324;
                                    color: #fff;
                                    height: 40px;
                                    border: 0;
                                    width: 100%;
                                    border-radius: 8px;
                                    cursor: pointer;
                                }
                                
                                .modal .modal-header {
                                    height: 45px;
                                    border-bottom: none;
                                }
                                
                                .modal .modal-header .close {
                                    opacity: 1;
                                    position: absolute;
                                    right: -10px;
                                    padding: 0;
                                    top: -10px;
                                    margin: 0;
                                }
                                
                                .modal .modal-body .booking .col-md-2 img {
                                    width: 100%;
                                }
                                
                                .modal .modal-body .booking .person {
                                    white-space: nowrap;
                                }
                                /* <!-- START SAME TOUR --> */
                                
                                .same-tour .page-tour-item {
                                    margin-top: 24px;
                                    border-radius: 3px;
                                }
                                
                                .same-tour .page-tour-item .img-tour-item {
                                    position: relative;
                                }
                                
                                .same-tour .page-tour-item .img-tour-item .tour-feature-img {
                                    width: 100%;
                                }
                                
                                .same-tour .page-tour-item .tour-label {
                                    position: absolute;
                                    top: 16px;
                                    left: -14px;
                                    z-index: 2;
                                }
                                
                                .same-tour .page-tour-item {
                                    border: 1px solid #b9b9b9;
                                }
                                
                                .same-tour .page-tour-item .info-tour-item {
                                    position: absolute;
                                    bottom: 7px;
                                    color: #fff;
                                    text-transform: uppercase;
                                    margin-left: 6px;
                                    width: 100%;
                                }
                                
                                .same-tour .page-tour-item .info-tour-item span:nth-child(2) {
                                    margin-left: 60px;
                                }
                                
                                .same-tour .page-tour-item .float-right {
                                    margin-right: 10px;
                                }
                                
                                .tour-summary {
                                    padding: 12px;
                                }
                                
                                h5 {
                                    font-size: 16px;
                                    font-weight: 700;
                                    color: #272727;
                                }
                                
                                p.grid-departure {
                                    display: flex;
                                    flex-flow: row;
                                    margin-bottom: 10px;
                                }
                                
                                p.grid-departure .left-grid {
                                    flex-basis: 50%;
                                }
                                
                                p.grid-departure .right-grid {
                                    flex-basis: 50%;
                                    white-space: nowrap;
                                    text-overflow: ellipsis;
                                    overflow: hidden;
                                }
                                
                                .tour-summary .booking-cta {
                                    display: flex;
                                    flex-flow: row;
                                }
                                
                                .tour-summary .price-wrap {
                                    flex-basis: calc(50%);
                                }
                                
                                .tour-summary .booking-wrap {
                                    flex-basis: calc(50%);
                                }
                                
                                .tour-summary .price-wrap .sale-price span {
                                    font-size: 16px;
                                    font-weight: 700;
                                    color: #d51117;
                                }
                                
                                .tour-summary .booking-wrap {
                                    text-align: right;
                                    flex-basis: calc(50%);
                                }
                                
                                .tour-summary .booking-wrap a {
                                    height: 40px;
                                    background: #d51117;
                                    color: #fff;
                                    width: 120px;
                                    text-align: center;
                                    line-height: 25px;
                                }
                                /* <!-- START HANDBOOK TOUR --> */
                                
                                .handbook-tour {
                                    margin-top: 24px;
                                }
                                
                                .handbook-tour .detail-tour .img-detail-tour img {
                                    width: 100%;
                                    border-radius: 3px 3px 0 0;
                                }
                                
                                .handbook-tour .detail-tour .title-detail-tour {
                                    border-radius: 0 0px 3px 3px;
                                    font-size: 16px;
                                    font-weight: 700;
                                    color: #2e2e2e;
                                    padding: 10px;
                                    border: 1px solid #bbb;
                                }
                                
                                .introduce-tour {
                                    display: flex;
                                    flex-wrap: wrap;
                                }
                                
                                .introduce-tour .tour-wrap {
                                    flex-basis: 48%;
                                    margin-top: 4%;
                                }
                                
                                .introduce-tour .tour-wrap:nth-child(odd) {
                                    margin-right: 4%;
                                }
                                
                                .introduce-tour .tour-wrap .card-text {
                                    font-size: 14px;
                                    font-weight: 700;
                                    color: #000;
                                    display: -webkit-box;
                                    max-width: 100%;
                                    height: 80px;
                                    margin: 0 auto;
                                    line-height: 1.4;
                                    -webkit-line-clamp: 4;
                                    -webkit-box-orient: vertical;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                }
                                
                                .handbook-more {
                                    margin-top: 20px;
                                }
                                
                                .handbook-more a {
                                    width: 120px;
                                    background: #bbb;
                                    color: #fe0b0b;
                                }
                                /* <!-- ------------------------ START REGISTER GET NOTIFICATION--------------------- --> */
                                
                                .register-get-notification .icon-mail {
                                    width: 50px;
                                    height: 100px;
                                    background: url('../images/email.png') 0 center/50px 50px no-repeat;
                                    float: left;
                                }
                                
                                .register-get-notification .content-get-info {
                                    float: right;
                                    width: calc(100% - 65px);
                                    margin-top: 25px;
                                }
                                
                                .register-get-notification .content-get-info .title span {
                                    font-size: 14px;
                                    font-weight: 700;
                                    color: #000;
                                }
                                
                                .form-register {
                                    margin-top: 30px;
                                }
                                
                                .form-register input {
                                    height: 40px;
                                }
                                
                                .form-register .button-register button {
                                    height: 40px;
                                    font-size: 14px;
                                    font-weight: 700;
                                    display: block;
                                    height: 40px;
                                    border-radius: 3px;
                                    border: none;
                                    background-color: #ec2324;
                                    text-align: center;
                                    color: #fff;
                                }
                                /* <!-- ------------------------ START TOP FOOTER--------------------- --> */
                                
                                .top-footer {
                                    width: 100%;
                                    background-color: #272727;
                                    padding-top: 30px;
                                    color: #fff;
                                }
                                
                                .top-footer .item {
                                    padding-right: 0;
                                }
                                
                                .top-footer .copy-right {
                                    font-size: 14px;
                                    font-weight: 400;
                                    text-align: center;
                                    color: #fff;
                                    margin-top: 10px;
                                }
                                
                                .top-footer .title {
                                    margin-bottom: 10px;
                                }
                                
                                .top-footer .title span {
                                    color: #fff;
                                    font-size: 16px;
                                    font-weight: 700;
                                    border-left: 3px solid #ec1e24;
                                    padding-left: 7px;
                                }
                                
                                .top-footer .item .description {
                                    padding-left: 10px;
                                }
                                
                                .top-footer .item .sunday {
                                    margin-top: 20px;
                                    padding-left: 10px;
                                }
                                
                                .top-footer .menu-footer {
                                    padding-left: 10px;
                                }
                                
                                .top-footer .menu-footer a {
                                    font-size: 14px;
                                    color: #fff;
                                    display: block;
                                    margin-bottom: 8px;
                                    text-decoration: none;
                                }
                                
                                .top-footer .cetificates {
                                    margin-top: 27px;
                                    margin-bottom: 20px;
                                    padding: 20px 0;
                                    border-top: 1px solid #525252;
                                    border-bottom: 1px solid #525252;
                                }
                                
                                .top-footer .cetificates .cetificate {
                                    width: 100%;
                                }
                                
                                .deal-room {
                                    padding-bottom: 25px;
                                }
                                
                                .deal-room .title-deal-room {
                                    margin-bottom: 20px;
                                }
                                
                                .deal-room .title-deal-room span {
                                    font-size: 18px;
                                    font-weight: bold;
                                }
                                
                                .deal-room .area-shop {}
                                
                                .deal-room .area-shop span {
                                    font-size: 16px;
                                    font-weight: 700;
                                    color: #fff;
                                    border-left: 3px solid #ec1e24;
                                    padding-left: 7px;
                                    line-height: 20px;
                                }
                                
                                .deal-room .address-shop span {
                                    background: url('../images/address.png') left 50%/12px 16px no-repeat;
                                    padding-left: 25px;
                                    display: block;
                                    font-size: 14px;
                                    margin-top: 20px;
                                }
                                
                                .deal-room .phone-shop span {
                                    background: url('../images/phone.png') left 50%/17px 17px no-repeat;
                                    padding-left: 25px;
                                    display: block;
                                    font-size: 14px;
                                    margin-top: 20px;
                                }
                                
                                .deal-room .email-shop span {
                                    background: url('../images/email2.png') left 50%/16px 11px no-repeat;
                                    padding-left: 25px;
                                    display: block;
                                    font-size: 14px;
                                    margin-top: 20px;
                                }
                                /* <!-- ------------------------ START BOTTOM FOOTER--------------------- --> */
                                
                                .bottom-footer {
                                    width: 100%;
                                    background-color: #000;
                                    padding-top: 15px;
                                    min-height: 55px;
                                    color: #fff;
                                }
                                
                                .bottom-footer .group-social {
                                    width: 20%;
                                    float: left;
                                }
                                
                                .bottom-footer .group-social i.fab {
                                    width: 30px;
                                    height: 30px;
                                    background: red;
                                    border-radius: 50%;
                                    text-align: center;
                                    line-height: 30px;
                                    color: #000;
                                }
                                
                                .bottom-footer .address {
                                    width: 40%;
                                    float: left;
                                }
                                
                                .bottom-footer .email {
                                    width: 20%;
                                    float: left;
                                }
                                
                                .bottom-footer .hotline {
                                    width: 20%;
                                    float: right;
                                }
                                
                                .bottom-footer .address span {
                                    background: url(../images/address.png) left 50%/12px 16px no-repeat;
                                    padding-left: 25px;
                                    display: block;
                                }
                                
                                .bottom-footer .email span {
                                    background: url('../images/email2.png') left 50%/16px 11px no-repeat;
                                    padding-left: 25px;
                                    display: block;
                                }
                                
                                .bottom-footer .hotline span {
                                    background: url('../images/phone.png') left 50%/17px 17px no-repeat;
                                    padding-left: 25px;
                                    display: block;
                                }
                                
                                .bottom-footer .hotline span a {
                                    color: red;
                                }