*{
	padding: 0;
	margin:0;
	box-sizing: border-box;
	font-family: tahoma;
	color: #333;
}
#page{
	width: 100%;
	background-color: #CEF6EC;
}
header{
	width: 100%;
	background-color: #1C1C1C;
	height: 80px;
	float: left;
}
.left-header{
	width:20%;
	height: 100%;
	float: left;
}
header img{
	height: 100%;
}
nav{
	width: 80%;
	float: left;
	background-color: #FAFAFA;
}
nav ul{
	list-style: none;
	width: 100%;
}
nav ul li{
	display: inline-block;
	line-height: 80px;
	background-color: #1C1C1C;
	width:25%;
	margin-left: -5px;
	text-align: center;
}
nav ul li a{
	display:block;
	text-decoration: none;
	color: #FAFAFA;
	font-size: 1.5em;
}
nav ul li:hover{
	background-color: #08088A;
}
#content{
	width: 70%;
	float: left;
	background-color: #F8E0F1;
}
article{
	width: 100%;
	float: left;
	border-bottom: 1px solid #888;
}
.img-icon{
	width: 30%;
	padding: 10px 0 10px 20px;
	float: left;
}
.img-icon img{
	width: 100%;
	border: 1px solid #EED952;
	cursor:pointer;
}
.info-new{
	width: 70%;
	float: left;
	padding: 10px 0 10px 20px;
}
.info-new h3{
	font-size: 18px;
	color: #190B07;
	text-transform: uppercase;
	cursor:pointer;
}
.info-new h3+p{
	font-size: 16px;
	color: #ae903b;
	text-transform: uppercase;
}
.white{
	color: #0B0B3B;
	margin-top: 15px;
}


aside{
	width: 30%;
	float: left;
	background-color: #58FAAC;
	height:auto;
}
aside p{
	width: 100%;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}
.img-aside{
	width: 50%;
}
@keyframes bigg {
	0%{transform: scale(1);opacity: 0.6;}
	25%{transform: scale(1.05);opacity: 0.7;}
	50%{transform: scale(1.1);opacity:0.8;}
	75%{transform: scale(1.15);opacity:0.9;}
	100%{transform: scale(1.2);opacity:1;}
	
}
aside p a:hover .img-aside{
	animation:bigg 2s ease linear;
	transform: scale(1.15);
}
footer{
	border-top: 1px solid #666;
	float: left;
	width: 100%;
	text-align: center;
}
footer img{
	width: 60%;
}