*{
	padding:0;
	margin:0;
}
/* ----------------WRAPPER--------------- */
#wrapper{
	width: 100%;
	height: auto;
}
/* ----------------HEADER--------------- */
#header{
	width: 100%;
	height:50px;
	background:#ededed;
/* 	position: fixed;
*/	float:left;
}
#header .manager{
	width:50%;
	height: 100%;
	float: left;	
}
#header .manager .manager-icon{
	width:40px;
	height:40px;
	border:1px solid #000;
	border-radius: 20px;
	margin-left: 20px;
	margin-top: 5px;
}
#header .header-logout{
	width:50%;
	height: 100%;
	float:left;
}
#header .header-logout a{
	display:block;
	text-decoration: none;
	line-height: 50px;
	margin-left: 400px;
	font-size: 25px;
	color: #000;
	width:125px;
}
#header .header-logout > a:hover{
	color: red;
	background:#CEF6D8;
}
#header .header-logout a i{
	margin-left: 5px;
}
/* ----------------CONTAINER--------------- */
#container{
	width: 100%;
	height:auto;
	float:left;
}
/* ----------------LEFT_CONTAINER--------------- */
#container .left-container{
	float:left;
	width: 20%;
	height:500px;
	background: #2A3F54;
}
.left-container .menu-left{
	list-style: none;
	width: 100%;
}
.left-container .menu-left > li{
	position: relative;
}
.left-container .menu-left  > li > a {
	display:block;
	color: #fff;
	text-decoration: none;
	font-size: 20px;
	padding: 15px 10px;
	transition: background linear 0.5s;
}
.menu-left > li > a:hover{
	background:#E0F2F7;
	color: #000000;
}
.left-container .menu-left > li > a > i{
	margin-right: 15px;
	margin-left: 10px;
}
/* -------------CHIL_MENU------------------------ */
.menu-left > li:hover .chil-menu{
	display: block;
}
.menu-left .chil-menu{
	width: 100%;
	list-style: none;
	position: absolute;
	background:#0B173B;
	left: 270px;
	top: 0px;
	display:none;
}
.menu-left .chil-menu li a{
	display:block;
	color: #F2F2F2;
	text-decoration: none;
	font-size: 20px;
	padding: 15px 10px;
	transition: background linear 0.5s;
}
.menu-left .chil-menu li a:hover{
	background:#E0F2F7;
	color: #08088A;
}
.menu-left .chil-menu li a i{
	margin-right: 15px;
	margin-left: 10px;
}
/* ----------------RIGHT_COTAINER--------------- */
#container .right-container{
	float:left;
	width: 80%;
	height: auto;
	background:#fff;
	text-align: center;
}
.right-container h1{
	color:#6E6E6E;
	text-align: left;
}
/* ----------------FOOTER--------------- */
#footer{
	float: left;
	background:#126351;
	width: 100%;
	height:50px;
	text-align: center;
	color:#E1F5A9FF;
}
